html {
    height: 100%;
}

body {
    height: 100%;
}
main {
    height: 100%;
}

.contenido-principal {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__iframe {
        flex-grow: 1;
    }
}